<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - storeclothes</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/home-index.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/storeclothes.styles.css" asp-append-version="true" />
</head>
<body>
	@await Component.InvokeAsync("Header");
	<div>
		<main role="main" class="pb-3 w-100">
			@RenderBody()
		</main>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
