@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-primaria: #373C3C;
    --bg-secundaria: #2C2D2A;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--bg-primaria);
}

#menu-header {
    background-color: var(--bg-secundaria);
}

#logoname {
    font-size: 45px;
}

main {
    padding:30px;
}

.items-menu {
    display:flex;
    gap:20px;
}

.items-menu a {
    text-decoration: none;
}

@media (max-width: 700px) {
    .items-menu {
        flex-direction:row !important;
    }
    #logoname {
        font-size: 25px;
    }
}

@media (max-width: 440px) {
    main {
        padding: 0px;
    }
}